POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_QUEUE_SUBMISSIONS=submissions
RABBITMQ_QUEUE_VERDICTS=verdicts

REDIS_ADDR=redis://redis:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_STATUS_CHANNEL=status_updates

JWT_ACCESS_TOKEN_SECRET=default_access # change it
JWT_REFRESH_TOKEN_SECRET=default_refresh # change it

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY_ID=problem-service
S3_SECRET_ACCESS_KEY=problem-service-secret
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true
S3_BUCKET=problem-service-artifacts

POLYGON_USERNAME= # change it
POLYGON_PASSWORD= # change it

MAIN_API_PORT=8000
SUBMISSION_SERVICE_PORT=8001
LEADERBOARD_SERVICE_PORT=8002
POLYGON_SERVICE_PORT=8003
STATUS_SERVICE_PORT=8004

NODE_ENV=production